<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New User</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="chatbox">
            <div class="chat-message"></div>

            <div class="participants">
                <h3>Participants</h3>
                <ul class="participants-list"></ul>
            </div>
        </div>
        <form class="message-form">
            <input
                type="text"
                class="message-input"
                placeholder="Say something"
            />
            <select class="recipient-dropdown">
                <option value="everyone">Everyone</option>
            </select>

            <button type="submit" class="guess-btn">Send</button>
        </form>
    </body>
</html>
